[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
tensorflow = "==2.4.1" # unable to resolve keras at 2.5.0 currently
textgenrnn = {ref = "master", git = "git://github.com/minimaxir/textgenrnn"}
chevron = "*"
PyYAML = "*"
pipfile = "*"

[dev-packages]

[requires]
python_version = "3.8"
